<div class="container card-body bg-info col-lg-6">
    <h1>{{title}}</h1>
    <hr>
    <form #registroForm="ngForm" (ngSubmit)="register()">
        <div class="form-group">
            <label for="numDoc">Número de documento</label>
            <input type="text" class="form-control" name="numDoc" #numDoc [(ngModel)]="persona.numDoc"
                placeholder="Ingrese el número de documento" id="numDoc">
        </div>
        <div class="form-group">
            <label for="tipoDoc">Tipo de documento</label>
            <input type="text" class="form-control" name="tipoDoc" #tipoDoc [(ngModel)]="persona.tipoDoc"
                placeholder="Ingrese el tipo de documento" id="tipoDoc">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre Completo</label>
            <input type="text" class="form-control" name="nombre" #nombre [(ngModel)]="persona.nombre"
                placeholder="Ingrese el nombre completo" id="nombre">
        </div>
        <div class="form-group">
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <input type="date" class="form-control" name="fecha_nacimiento" #fecha_nacimiento [(ngModel)]="persona.fechaNacimiento">
        </div>
        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="text" class="form-control" name="edad" #edad [(ngModel)]="persona.edad"
                placeholder="Ingrese la edad" id="edad">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" name="descripcion" #descripcion [(ngModel)]="persona.descripcion"
                placeholder="Ingrese la descripción" id="descripcion">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" #email [(ngModel)]="persona.email"
                placeholder="Ingrese el email" id="email">
        </div>
        <div class="form-group">
            <label for="salario">Salario</label>
            <input type="text" class="form-control" name="salario" #salario [(ngModel)]="persona.salario"
                placeholder="Ingrese el salario" id="salario">
        </div>
        <button type="submit" class="btn btn-success">Registrar</button>
    </form>
</div>
