<div class="container">
    <a [routerLink]="['/cargarUsuario']" class="btn btn-primary m-2">Crear Usuario</a>
    <hr>
    <div class=" card border-primary mb-3">
        <div class="card-header">Usuarios</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Listado</h5>
            <table class="table table-bordered table-stripped">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Número de documento</th>
                        <th>Perfil</th>
                        <th>Habilitado</th>
                        <th>Fecha creación</th>
                        <th>Fecha modificación</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{ usuario.usu}}</td>
                        <td>{{ usuario.numDoc }}</td>
                        <td>{{ usuario.perfil}}</td>
                        <td>{{ usuario.habilitado }}</td>
                        <td>{{ usuario.fechaCreacion }}</td>
                        <td>{{ usuario.fechaModificacion }}</td>
                        <td>
                            <button type="button" class="btn btn-info" name="button" [routerLink]="['/cargarUsuario', usuario.usu]">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
